[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/IRremoteESP8266"]
	path = lib/IRremoteESP8266
	url = https://github.com/sebastienwarin/IRremoteESP8266.git
[submodule "src"]
	path = src
	url = https://github.com/letscontrolit/ESPEasy.git
	pushurl = git@github.com:letscontrolit/ESPEasy.git

